# server1: postgresql
DB_SERVER1_USER=root
DB_SERVER1_PASSWORD=root
DB_SERVER1_NAME=auth_db
DB_SERVER1_PORT=5432

# server2: mongodb
DB_SERVER2_USER=root
DB_SERVER2_PASSWORD=root
DB_SERVER2_PORT=27017

# server3: mysql
DB_SERVER3_ROOT_PASSWORD=root
DB_SERVER3_PASSWORD=root
DB_SERVER3_NAME=order_db
DB_SERVER3_PORT=3306